* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    background-color: teal;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

.leftPanel {
    position: fixed;
    top: 0;
    left: 0;
}

.Showcase__style__stylizedItem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    margin: 5px 0px;
    background-color: rgb(243, 243, 243);
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    font-weight: 400;
}

.Showcase__style__item {
    position: relative;
    border: 1px gray;
}